@using Microsoft.AspNetCore.Identity
@using LibraryApp.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model string[]

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Librarian")))
{
    <a asp-controller="Model[0]" asp-action="Edit" asp-route-id="Model[1]">Edit</a> 
    <a asp-controller="Model[0]" asp-action="Delete" asp-route-id="Model[1]">Delete</a>
    <a asp-controller="Model[0]" asp-action="Details" asp-route-id="Model[1]">Details</a>  
}
else
{
     <a asp-controller="Model[0]" asp-action="Details" asp-route-id="Model[1]">Details</a>
}
